{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <style>
        body{
            background-color:#3F729B;
            background-image: url();
        }
    </style>
    <main style="background-color:#3F729B;height: 100%;">
        <br/><br/>
            <div class="container">
                <div class="row">
                  <div class="col-sm"></div>
                  <div class="col-sm" style="background-color : rgb(255, 255, 255);">
                    <br/>
                        <form action="'{{path("menu")}}'">
                            <h3 class="text-center">Authentification</h3>
                            <br/>
                             <!-- Email -->
                            <input type="email" id="email" class="form-control mb-4" placeholder="Adresse e-mail" name="email">

                            <!-- Password -->
                            <input type="password" id="mdp" class="form-control mb-4" placeholder="Mot de passe" name="mdp">

                            <!-- Remember me -->
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                                <label class="custom-control-label" for="defaultLoginFormRemember">Se souvenir de moi</label>
                            </div>
                                
                            <br/>
                            <!-- Sign in button -->
                            <button type="button" class="btn btn-primary btn-rounded btn-block" type="submit">SE CONNECTER</button>
                            
                            <hr>

                            <!-- Social login -->
                            <button type="button" class="btn btn-danger btn-rounded btn-block">
                                <a href="#" class="mx-2" role="button" style="color: white;">
                                    <i class="fab fa-google" style="color: white;"></i>
                                    AUTHENTIFICATION AVEC GOOGLE
                                </a>
                            </button>
                            <br/>
                            <button type="button" class="btn btn-indigo btn-rounded btn-block">
                                <a href="#" class="mx-2" role="button" style="color: white;">
                                    <i class="fab fa-facebook" style="color: white;"></i>
                                    AUTHENTIFICATION AVEC FACEBOOK
                                </a>
                            </button>
                            <br/>
                        </form>
                  </div>
                  <div class="col-sm"></div>
                </div>
            </div>        
    </main>
{% endblock %}
