{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark special-color-dark">
            <a class="navbar-brand" href="#">DGT Creator Services</a>      
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto"></ul>
                <span class="navbar-text white-text">
                    Digital Learning Content Manager
                </span>
            </div>         
        </nav>
    </header>
    <style>
        #sidebar {
            min-width: 270px;
            max-width: 270px;
            background: #fff;
            color: #000000;
        }

        #sidebar.active {
            min-width: 80px;
            max-width: 80px;
            text-align: center;
        }

        #sidebar.active ul.components li a {
            padding: 10px 0;
        }

        #sidebar ul li a {
            padding: 10px 30px;
            display: block;
            color: black;
        }

        footer{
            position: absolute;
            bottom: 0;
            width: 100%;
        }

    </style>

    <script>
        function FermerMenu(){
            document.getElementById('DC1').style.left = '-90px';
            document.getElementById('DC2').style.left = '-90px';
            document.getElementById('DC3').style.left = '-90px';
            document.getElementById('DC4').style.left = '-90px';
            document.getElementById('DC5').style.left = '-90px';
        }

        function OuvrirMenu(){
            document.getElementById('DC1').style.left = '-0px';
            document.getElementById('DC2').style.left = '-0px';
            document.getElementById('DC3').style.left = '-0px';
            document.getElementById('DC4').style.left = '-0px';
            document.getElementById('DC5').style.left = '-0px';
        }
    </script>

    <main>
        <table width="100%" height="100%">
            <tr width="100%" height="100%">
                <td onmouseover="OuvrirMenu()" width="0%">
                    <!-- Menu latéral -->
                    <div class="wrapper d-flex align-items-stretch">
                        <nav id="sidebar" class="active">
                            <ul class="list-unstyled components mb-5">
                            <li class="active">
                                <a href="#"><img src="image/DC1.jpg" id="DC1" height="100px" style="position: relative;"/></a>
                            </li>
                            <li>
                                <a href="#"><img src="image/DC2.jpg" id="DC2" height="100px" style="position: relative;"/></a>
                            </li>
                            <li>
                                <a href="#"><img src="image/DC3.jpg" id="DC3" height="100px" style="position: relative;"/></a>
                            </li>
                            <li>
                                <a href="#"><img src="image/DC4.jpg" id="DC4" height="100px" style="position: relative;"/></a>
                            </li>
                            <li>
                                <a href="#"><img src="image/DC5.jpg" id="DC5" height="100px" style="position: relative;"/></a>
                            </li>
                            </ul>
                        </nav>
                    </div>
                </td>
                <td width="100%" class="text-center" onmouseover="FermerMenu()">
                    <!-- Contenu de la page -->
                    <div class="text-align center">
                        <h1><strong>Bonjour Nicolas</strong></h1>
                        <h4><strong>Comment puis-je vous aider ?</strong></h4>
                    </div>
                </td>
            </tr>
        </table>
    </main>

    <!-- Footer -->
    <footer class="page-footer font-small" style="background: #fff;">
        <div class="footer-copyright py-3">
        <table width="100%">
            <tr width="100%">
                <td width="5%"></td>
                <td width="45%" class="text-left">
                    © 
                    <a href="#"> Supercharged by DGT Concept </a>
                </td>
                <td width="45%" class="text-right">
                    © 
                    <a href="#"> Powered By TALENSOFT </a>
                </td>
                <td width="5%"></td>
            </tr>
        </table>
        </div>
    </footer>
{% endblock %}