<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}DGT CS{% endblock %}</title>
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css" rel="stylesheet">
        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark special-color-dark">
                <a href="{{path('menu')}}"><img src="{{ asset('image/'~ 'logo.png')}}" /></a>
                <a class="navbar-brand" href="{{path('menu')}}">DGT Creator Services</a>      
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto"></ul>
                    <span class="navbar-text white-text">
                        Digital Learning Content Manager
                    </span>
                </div>         
            </nav>
            <script>
                function FermerMenu(){
                    document.getElementById('DC1').style.left = '-90px';
                    document.getElementById('DC2').style.left = '-90px';
                    document.getElementById('DC3').style.left = '-90px';
                    document.getElementById('DC4').style.left = '-90px';
                    document.getElementById('DC5').style.left = '-90px';
                    document.getElementById('DC6').style.left = '-90px';
                }

                function OuvrirMenu(){
                    document.getElementById('DC1').style.left = '-0px';
                    document.getElementById('DC2').style.left = '-0px';
                    document.getElementById('DC3').style.left = '-0px';
                    document.getElementById('DC4').style.left = '-0px';
                    document.getElementById('DC5').style.left = '-0px';
                    document.getElementById('DC6').style.left = '-0px';

                }
            </script>
            <style>
                body{
                    background-image: url("/image/background.png");
                }

                #sidebar {
                    min-width: 270px;
                    max-width: 270px;
                    color: #000000;
                }

                #sidebar.active {
                    min-width: 80px;
                    max-width: 80px;
                    text-align: center;
                }

                #sidebar.active ul.components li a {
                    padding: 10px 0;
                }

                #sidebar ul li a {
                    padding: 10px 30px;
                    display: block;
                    color: black;
                }

            </style>
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <br/><br/>
        <footer class="page-footer font-small" style="color:white; position: absolute; bottom: 0; left: 0; right: 0; background-color: #3F729B;">
            <div class="footer-copyright py-3">
                <table width="100%">
                    <tr width="100%">
                        <td width="5%"></td>
                        <td width="45%" class="text-left">
                            © 
                            <a href="#"> Supercharged by DGT Concept </a>
                        
                        </td>
                        <td width="45%" class="text-right">
                            © 
                            <a href="#"> Powered By TALENTSOFT </a>
                        </td>
                        <td width="5%"></td>
                    </tr>
                </table>
            </div>
        </footer>
    </body>
</html>
